@import '../constants';


//Color Of graph lines, text
.tick {
    line {
        stroke: $grey;
    }

    text {
        fill: $dark-grey;
    }
}

//size of graph window
.graph-container {
    height: 350px;
}

//disable graph message
.graph-message {
    display: none;
}

//graph title
.graph-message-display {
    background-color: $light-yellow;
    color: $dark-grey;
    display: block;

    h3 {
        margin: 0;
        padding: 20px;
    }
    margin: 0;
}
