@import '../components/constants';

// stream and sensor override.
@media (max-width: 960px) {
    &.flex-20 {
        &.flex-override {
            max-width: 100%;
        }
    }
}

// graph and info panels override.
@media (max-width: 960px) {
    &.flex-80 {
        &.flex-override {
            max-width: 100%;
        }
    }
}

// Card header override.
md-toolbar {
    &.card-header {
        background-color: $primary;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        min-height: 50px;
    }

    h3 {
        margin: 15px;
    }
}

// Card content override.
md-content {
    padding: 10px 15px;
}

// Primary & secondary button override.
.md-button {
    &.md-primary {
        &.md-raised {
            background-color: $primary;
            color: $white;
            float: right;
        }
    }

    &.secondary-button {
        float: right;
    }
}

// Input container overrides.
md-input-container {
    margin-bottom: 0;
    margin-top: 10px;

    .md-errors-spacer {
        display: none;
    }
}

//Toast override.
md-toast {
    &.md-center {
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }
    color: $black;
}
