<div ng-controller="sensorController">
    <div class="card clearfix">
        <div class="card-title">
            Sensor Info
        </div>
        <ul class="nav nav-tabs">
            <li class="active" ng-click="ChangeTab($event, 'config')"><a>Configuration</a></li>
            <li><a ng-click="ChangeTab($event, 'entry')">Manual Entry</a></li>
            <li><a ng-click="ChangeTab($event, 'export')">Export</a></li>
            <li><a ng-click="ChangeTab($event, 'command')">Command</a></li>
            <li><a ng-click="ChangeTab($event, 'metadata')">Metadata</a></li>
        </ul>
        <div ng-if="tab == 'config'">
            <div class="row">
                <div class="col-md-6">
                    <div class="info-title">UUID</div>
                    <div class="info-title">Model</div>
                    <div class="info-title"> Name</div>
                    <div class="info-title">Description</div>
                    <div class="info-title">Units</div>
                    <div class="info-title">Last Calibration</div>
                    <div class="info-title">Calibration</div>
                </div>
                <div class="col-md-6">
                    <div ng-if="!editing">
                        <div class="info-static">{{sensor.uuid}}</div>
                        <div class="info-static">{{sensor.model}}</div>
                        <div class="info-static">{{sensor.name}}</div>
                        <div class="info-static">{{sensor.description}}</div>
                        <div class="info-static">{{sensor.units}}</div>
                        <div class="info-static">{{sensor.last_calibration.timestamp}}</div>
                        <div class="info-static">{{sensor.last_calibration.coefficients}}</div>
                        <button type="button " class="btn btn-primary btn-sm" ng-click="EditFields(title)">
                            <span class="glyphicon glyphicon-pencil " /> Edit
                        </button>
                    </div>
                    <div ng-if="editing" style="margin-top: 9px">
                        <div class="info-static">{{sensor.uuid}}</div>
                        <div class="info-static">{{sensor.model}}</div>
                        <div class="info-static">{{sensor.name}}</div>
                        <div class="info-edit">
                            <input ng-model="sensor.description" value="{{sensor.description}}">
                        </div>
                        <div class="info-edit">
                            <input ng-model="sensor.units" value="{{sensor.units}}">
                        </div>
                        <div class="info-static">{{sensor.last_calibration.timestamp}}</div>
                        <div class="info-edit">
                            <input ng-model="sensor.last_calibration.coefficients" value="{{sensor.last_calibration.coefficients}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-if="editing">
                    <div class=" edit-buttons">
                        <button type="button " class="btn btn-success btn-sm" ng-click="SaveFields()">
                            <span class="glyphicon glyphicon-ok" /> Save
                        </button>
                        <button type="button " class="btn btn-default btn-sm" ng-click="CancelFields()">
                            <span class="glyphicon glyphicon-remove " /> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="tab == 'entry'">
            <div class="row">
                <div class="col-md-6">
                    <div class="info-title">New Data</div>
                </div>
                <div class="col-md-6" style="margin-top: 7px">
                    <div class="info-edit">
                        <input placeholder="Enter new data point">
                    </div>
                </div>
            </div>
            <div class="edit-buttons">
                <button type="button" class="btn btn-success btn-sm" style="margin-left: 3px;">
                    <span class="glyphicon glyphicon-send" /> Send
                </button>
            </div>
        </div>
        <div ng-if="tab == 'export'">
            <div class="row">
                <div class="col-md-6">
                    <div class="info-title">Export</div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <button type="button" class="btn btn-success btn-sm btn-row" ng-click="SaveFields()">
                            <span class="glyphicon glyphicon-send" /> SQL
                        </button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-success btn-sm btn-row" ng-click="SaveFields()">
                            <span class="glyphicon glyphicon-ok" /> Elastic Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="tab == 'command'">
            <div class="row">
                <div class="col-md-6">
                    <div class="info-title">{{sensor.name}}</div>
                </div>
                <div class="col-md-6">
                    <div class="btn-row">
                        <input id="bsSwitch" bs-switch ng-model="isSelected" switch-active="{{ isActive }}" type="checkbox" switch-on-text="On" switch-off-text="Off" switch-animate="true" switch-change="CommandSwitch()">
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="tab == 'metadata'">
            <div class="row">
                <div class="col-md-6">
                    <div ng-repeat="(key, val) in sensor.meta_data">
                        <div class="info-title">{{key}}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div ng-repeat="(key, val) in sensor.meta_data">
                        <div class="info-static">{{val}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
