
$shadow-color: rgba(0, 0, 0, .1);

// class-name-format: The name of the library uses this class name
// sass-lint:disable class-name-format
.ADMdtp-box {
    box-shadow: 1px 4px 6px $shadow-color, -1px 4px 6px $shadow-color;
}
// sass-lint:enable class-name-format

.button-container {
    margin: 10px 10px 0;
}

.quick-time-container {
    display: inline-block;
    width: 100%;
}

md-progress-circular {
    &.auto-refresh-progress {
        margin-left: 10px;
        margin-top:  16px;
    }
}
