$white: rgb(250, 250, 250);
$primary: #0d47a1;
$primary-dark: #003b8e;
// #primary-light:#5e91f2;
$grey: rgb(218, 218, 218);
$dark-grey: rgb(80, 80, 80);
$light-yellow: rgb(242, 247, 158);
$black: rgb(0, 0, 0);
