<html>
	<head>
		<title>Teleceptor</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script src="lib/jquery/jquery-1.9.1.min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="lib/knockout/knockout-2.3.0.debug.js"></script>

		<script src="lib/bootstrap-switch-master/dist/js/bootstrap-switch.js"></script>

		{% block additional_scripts %}{% endblock additional_scripts %}

		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="css/ie10mobile.css">
		<link rel="stylesheet" href="css/starterkit.css">

		<link href="lib/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">

		{% block additional_styles %}{% endblock additional_styles %}

		<style>
			body {
				padding-top: 20px;
			}
		</style>
	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#teleceptor-nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand"> <i class="icon-home"></i> <span>Teleceptor</span> </a>
				</div>

				<div class="collapse navbar-collapse" id="teleceptor-nav">
					<ul class="navbar-nav nav">
						<li class="active">
							<a href="">Sensors</a>
						</li>
						<li class="">
							<a href="settings/">Settings</a>
						</li>
					</ul>
					<div class="navbar-form navbar-right">
						<span>Version: </span><span>{{sysdata.version}}</span>
					</div>
				</div>
			</div>
		</div>


		{% block content %}{% endblock content %}
	</body>

</html>
