
<div id="stream-config" data-bind="with: activeSensor">

    <!-- ko if: updateError -->
    <div class="alert alert-danger" data-bind="text: updateError"></div>
    <!-- /ko -->

    <form class = "form-horizontal" role="form">
        <div class="form-group">
            <label class="col-md-3 control-label">ID</label>
            <div class="col-md-6">
                <p class="form-control-static" data-bind="text: streamUuid()"></p>
            </div>
        </div>

        <div class = "form-group" data-bind="css: {'has-error': streamName.hasError}">

            <label class="col-md-3 control-label">Name</label>
            <div class="col-md-6">
                <!-- ko ifnot: streamEditing -->
                <p class="form-control-static" data-bind="text: streamName()"></p>
                <!-- /ko -->
                <!-- ko if: streamEditing -->
                <input class="form-control" data-bind="value: streamName">
                <p class="text-danger" data-bind="text: streamName.validationMessage, if: streamName.hasError"></p>
                <!-- /ko -->
            </div>
        </div>
        <div class = "form-group">
            <label class="col-md-3 control-label">Description</label>
            <div class="col-md-6">
                <!-- ko ifnot: streamEditing -->
                <p class="form-control-static" data-bind="text: streamDescription()"></p>
                <!-- /ko -->
                <!-- ko if: streamEditing -->
                <input class="form-control" data-bind="value: streamDescription">
                <!-- /ko -->
            </div>
        </div>

        <div class = "form-group">
            <label class="col-md-3 control-label">Sensor Name</label>
            <div class="col-md-6">
                <p class="form-control-static" data-bind="text: name()"></p>
            </div>
        </div>

        <div class = "form-group">
            <div class="col-md-6 col-md-offset-2">
                <!-- ko ifnot: streamEditing -->
                <button type="button" class="btn btn-primary btn-sm" data-bind="click: streamBeginEditing">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <!-- /ko -->

                <!-- ko if: streamEditing -->
                <button type="button" class="btn btn-primary btn-sm" data-bind="click: streamUpdate">
                    <span class="glyphicon glyphicon-ok"></span> Save
                </button>
                <button type="button" class="btn btn-default btn-sm" data-bind="click: streamCancelEditing">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </button>

                <!-- /ko -->
            </div>
        </div>
    </form>
</div>

