@import '../constants';

.dropdown-btn {
    clear: both;
    display: block;
    font-weight: 400;
    line-height: 1.42;
    padding: 3px 20px;
    white-space: nowrap;
}

// important-use: bootstrap treeview inlines its styles rather than have them in classes.
// sass-lint:disable no-important
.node-selected {
    background-color: $grey !important;
    color: $dark-grey !important;
}
// sass-lint:enable no-important
