@import '../constants';

.dropdown-btn {
    clear: both;
    display: block;
    font-weight: 400;
    line-height: 1.42;
    padding: 3px 20px;
    white-space: nowrap;
}

// sass-lint:disable no-important
.list-group-item {
    &.node-my-tree {

        &.node-selected {
            background-color: $grey !important;
            color: $dark-grey !important;
        }
    }

    &.list-group-item {
        
        background-color: $white !important;
    }

}

// sass-lint:enable no-important
.tree-card-content {
    background-color: $white;
    border: 4px;
    min-height: 135px;
    overflow: hidden;
    padding: 10px 15px;
}
