@import '../constants';

.dropdown-btn {
    clear: both;
    display: block;
    font-weight: 400;
    line-height: 1.42;
    padding: 3px 20px;
    white-space: nowrap;
}

.list-group-item {
    &.node-my-tree {

        &.node-selected {
            background-color: $grey !important;
            color: $dark-grey !important;
        }
    }

    &.list-group-item {

        background-color: $white !important;
    }

}
